.counterContainer {
    width: 100%;
    margin-top: auto;
    justify-self: flex-end;
    position: relative;
    top: 8%;
}

.counterContainer__title {
    font-family: 'Gobold', sans-serif;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 2.5em;
    color: white;
}

.counterContainer__counter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.counterContainer__counter div {
    width: 110px;
    height: 110px;
    margin: 10px 10px;
    background-color: #DBE120;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.counterContainer__counter div h2 {
    padding: 0px;
    margin: 0px 0px 7px 0px;
    font-family: 'Gobold', sans-serif;
    font-size: 2.5em;
    font-style: italic;
    font-weight: lighter;
    color: black;
    background-color: transparent;
}

.counterContainer__counter div p {
    font-family: 'Gobold', sans-serif;
    font-size: 0.9em;
    font-style: italic;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
}